<div class="pt-16 h-full">
    <form [formGroup]="form" class="flex flex-col gap-2 w-full h-full">
        <div class="flex flex-col gap-8 justify-start items-start w-full h-full p-5">
            <mat-form-field appearance="outline" class="w-full h-10 lg:w-1/2">
                <input matInput formControlName="name" placeholder="Employee Name" name="name">
                <mat-icon matPrefix class="text-blue">person_outline</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full lg:w-1/2 h-10 text-blue">
                <mat-select formControlName="role" placeholder="Role">
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
                <mat-icon matPrefix class="text-blue">card_travel</mat-icon>
            </mat-form-field>
            <div class="flex flex-row items-center gap-1 w-full lg:w-1/2">
                <mat-form-field appearance="outline" class="w-1/2 h-10">
                    <input formControlName="startDate" (dateChange)="onDateSelect()" matInput [matDatepicker]="picker1" placeholder="Today">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker class="h-10" #picker1></mat-datepicker>
                </mat-form-field>
                <div class="h-full flex items-center pt-3 mx-2">
                    <mat-icon class="text-blue">arrow_forward</mat-icon>
                </div>
                <mat-form-field appearance="outline" class="w-1/2 h-10">
                    <input formControlName="endDate" [min]="startDate()" matInput [matDatepicker]="picker2" placeholder="No Date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker class="h-10" #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full">
            <hr class="mb-2 w-full">
            <div class="flex flex-row justify-end items-center gap-2 w-full p-5">
                <button (click)="onCancel()" mat-raised-button class="rounded-lg text-sm bg-[#EDF8FF] text-blue w-[73px] h-[40px]">
                    Cancel
                </button>
                <button (click)="onSave()" mat-raised-button class="rounded-lg text-sm bg-blue text-white w-[73px] h-[40px]">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>